<!DOCTYPE html>
<html>
<head>
  <title>Engine test</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "engine_test/application", media: "all" %>
  <%= javascript_include_tag "engine_test/application" %>
</head>
<body>

<%= yield %>

</body>
</html>
